body {
  font-family: "Righteous", cursive;
  color: #1b161d;
  background-color: #000000;
}

.body-bg {
  background-image: url(../images/body-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*header section*/

.hero_area {
  position: relative;
}

.header_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#bg-video-container {
  width: 100%;
  height: 100vh; /* Ajusta esta altura según tus necesidades */
  overflow: hidden;
}

.slider_section {
  padding-top: 120px;
  z-index: 1;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Righteous", sans-serif;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 14px;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 7px 0;
  transition: all 0.3s;
  border-radius: 5px;
}

.custom_menu-btn .s-2 {
  width: 23px;
  margin-left: auto;
}

.menu_btn-style {
  position: fixed;
  right: 12px;
  top: 14px;
}

.custom_menu-btn .s-2 {
  transition: all 0.1s;
}

.menu_btn-style button .s-1 {
  transform: rotate(45deg) translateY(17px);
}

.menu_btn-style button .s-2 {
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  transform: rotate(-45deg) translateY(-17px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5f04b5c6;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  font-family: "Righteous", cursive;
  font-size: 24px;
  font-weight: 500;
  color: #fefeff;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.quote_btn-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fc5d35;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}

/*end header section*/

/* slider section */

.slider_section {
  padding-top: 100px;
}

.slider_item-box {
  width: 100%;
  height: 100%;
}

.slider_item-box .container {
  height: 100%;
}

.slider_img-box {
  width: 85%;
  margin: 0 auto;
}

.slider_img-box img {
  width: 100%;
}

.slider_item-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_item-detail {
  text-align: center;
  color: #fff;
}

.slider_item-detail h1 {
  font-weight: 600;
  font-size: 40px;
}

.slider_item-detail p {
  margin: 40px 0 45px 0;
  font-size: 20px;
}

.slider_item-detail a {
  display: inline-block;
  background-color: #5f04b5f6;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 40px;
}

.slider_item-imgbox {
  margin-top: 45px;
  width: 75%;
}

.slider_item-imgbox img {
  width: 100%;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
  background-color: #fff;
  transform: translateY(-50%);
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  background-color: #292727;
  background-size: 12px;
}

.slider_section .carousel-control-prev {
  left: 2%;
  background-image: url(../images/left-black-arrow.png);
}

.slider_section .carousel-control-next {
  right: 2%;
  background-image: url(../images/right-black-arrow.png);
}

.slider_section .carousel-control-prev:hover {
  background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next:hover {
  background-image: url(../images/next.png);
}

/* end slider section */

/* about section */
.about_section {
  margin-top: 45px;
  text-align: center;
  color: #ffffff;
  background-color:#000000;
}

.about_section h2 {
  text-transform: uppercase;
}

.about_section h4 {
  font-size: 22px;
  font-weight: 600;
}

.about_card-container {
  display: flex;
  justify-content: center;
}

.about_card .about-detail {
  padding: 2px 25px 35px 25px;
}

.about_img-container {
  width: 100%;
  background-color: #000000;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #000000;
  margin: 0 auto 45px auto;
}

.about_card .about_img-box {
  width: 100%;
  /* 75px; */
}

.about_card .about-detail p {
  margin-top: 15px;
}

.about_card img {
  width: 100%;
}

/* end about section */

/* welcome section */
.welcome_section {
  text-align: center;
  color:white;
}

.welcome_section .img-box {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.welcome_section .img-box iframe {
  width: 80%;
  height: 600;
  border: none;
}

.welcome_section .detail-box {
  margin-top: 0px;
}

.welcome_section .detail-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #5f04b5;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 45px;
}

.welcome_section .detail-box a:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

/* who section */
.who_section {
  background-color: #000000;
}

.who_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.who_section {
  color: #fff;
}

.who_section h2{
  color: #fff;
  text-align: center;
  padding: 40px;
}

.who_section .who_img-box {
  background-color: #000000;
  /* border-radius: 100%; */
  padding: 50px;
  transform: scale(1.01) translateX(-10%);
  overflow: hidden;
  width: 60%;
}

.who_img-box img {
  width: 100%;
}

.who_section .who_deail-box {
  text-align: right;
  width: 40%;
}

.who_section .who_deail-box p {
  margin: 45px 0 50px 0;
}

.who_section .who_deail-box a {
  display: inline-block;
  background-color: #5f04b5;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 12px 32px;
}

.who_container {
  display: flex;
}

.name-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}
/* end who section */

/* who2 section */
.who2_section {
  background-color: #000000;
}

.who2_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.who2_section {
  color: #fff;
}

.who2_section h2{
  color: #fff;
  text-align: center;
  padding: 40px;
}

.who2_section .who2_img-box {
  background-color: #000000;
  /* border-radius: 100%; */
  padding: 50px;
  transform: scale(1.01) translateX(10%);
  float: right;
  overflow: hidden;
  width: 60%;
}

.who2_img-box iframe {
  width: 100%;
}

.who2_section .who2_deail-box {
  text-align: left;
  width: 40%;
}

.who2_section .who2_deail-box p {
  margin: 45px 0 50px 0;
}

.who2_section .who2_deail-box a {
  display: inline-block;
  background-color: #5f04b5;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 12px 32px;
}

.who2_container {
  display: flex;
}

/* end who2 section */

/* feature section */

.feature_section {
  text-align: center;
}

.feature_card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature_img-container {
  background-color: #1ba1b9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  border-radius: 10px;
}

.feature_img-box {
  width: 100px;
}

.feature_card {
  width: 300px;
  padding: 0 15px;
  margin: 35px 0;
}

.feature_card h5 {
  text-transform: uppercase;
}

.feature_card img {
  width: 100%;
}

.feature_detail-box {
  margin: 35px auto 0 auto;
}

.feature_detail-box h4 {
  font-weight: 600;
  font-size: 20px;
}

/* end feature section */

/* contact section */
.contact_section .row {
  align-items: center;
}

.form_bg {
  background-color: #2801b9;
}

.contact_section h2 {
  text-align: center;
  text-transform: uppercase;
}

.contact_section p {
  color: #787877;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

.contact_section input,
.contact_section textarea {
  outline: none;
  border: 1px solid #c1c1c2;
  width: 100%;
  height: 45px;
  padding: 0 15px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.contact_section .message_input {
  height: 125px;
}

.contact_form-container {
  padding: 45px 35px;
  width: 90%;
}

.contact_form-container button {
  border: none;
  background-color: #fddd33;
  color: #fff;
  padding: 12px 65px;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}

.contact_img-box img {
  width: 100%;
}

/* contact section */

/* info section */
.info_section {
  position: relative;
  background-color: #161616;
  font-family: "Poppins", sans-serif;
}

.info_section img {
  width: 100%;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 10px 0;
}

.info_section ul li a,
.info_section ul li a:hover {
  color: #fff;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  color: #fff;
  border-bottom: 2px solid #5f04b5c6;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.form_container form {
  display: flex;
  align-items: center;
}

.info_section .form_container label {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.info_section .form_container input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #fff;
  margin-left: 45px;
  margin-right: 10px;
}

.info_section .form_container button {
  background-color: #5f04b5c6;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 50px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* end info section */

/* footer section*/

.footer_section {
  font-family: "Poppins", sans-serif;
  background-color: #161616;
  padding: 25px 20px;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #ffffff;
}

#logo {
  position: absolute;
  width: 100px; /* Cambia el valor según el tamaño deseado */
  height: 100px; /* Esto permite mantener la proporción original del logo */
  right: 300px; /* Ajusta el valor según el espacio deseado a la derecha */
  top: 100px; /* Ajusta el valor según el espacio deseado desde la parte superior */
}

video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-webkit-media-controls-play-button {
  display: none;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}
video::-webkit-media-controls-mute-button {
  display: none;
}
video::-webkit-media-controls-time-remaining-display {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-overflow-button{
  display: none;
}

/* end footer section*/

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* Ajusta este valor según el tamaño de tu header */
}